{% extends 'catalog/base.html' %}


<!--{% load crispy_forms_tags %}-->
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ update }}</h1>
</div>
<form method="post" class="form-floating" enctype="multipart/form-data">

        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ update }}</h4>
                </div>
                <div class="card-body">

                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">{{ title }}</button>



                </div>
            </div>
        </div>

 <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">версии</h4>
                </div>
                <div class="card-body">

                        {{ formset.management_form }}
                        {% for form in formset.forms %}

                        {{ form.as_p }}
                        {% endfor %}




                </div>
            </div>
        </div>
     </form>
    </div>
{% endblock %}