{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}
<div class="container">


          <div class="card shadow-sm">
            <img src="{% image_tag object.product_image %}" >
            <div class="card-body">
              <p class="card-text">{{ object.product_description }}</p>

            </div>

<div class="d-flex gap-2 justify-content-center py-2">

  <span class="badge text-bg-info rounded-pill">{{ object.product_category }}</span>

</div>

 <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ object.product_price }}</h4>
          </div>
 {% if user.is_active == True %}
  <div >

    <a class="btn btn-primary" type="button" href="{% url 'catalog:update_product' object.pk %}">обновить продукт</a>

 </div>

                <div >

    <a class="btn btn-primary" type="button" href="{% url 'catalog:delete_product' object.pk %}">удалить продукт</a>
 </div>
{% endif %}
</div>


{% endblock %}